@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.visualization {
    @apply flex flex-col gap-1 justify-end items-center
}

.chat {
    @apply bg-primary-soft-red w-9 rounded-md
}