@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.visualization {
    @apply flex flex-col gap-1 items-center w-full overflow-hidden
}

.chat {
    @apply bg-primary-soft-red w-full rounded-md box-border relative hover:bg-hover-soft-red
}

.label {
    @apply bg-neutral-dark-brown p-1 rounded-md text-neutral-cream text-label box-border absolute -top-6 z-50 w-full
}

.barContainer {
    @apply h-full w-10 flex items-end
}

.highestBar {
    @apply bg-primary-cyan hover:bg-hover-cyan
}